.nav ul{
    list-style: none;
    text-align: center;
}



.nav li{
    display: inline-block;
    padding: 18px;
    font-size: 100%;
}

.calendar{
    width: 20%;
}


body{
    font-family: 'Do Hyeon', sans-serif;
        background-color: 7BB3EF;
}